<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Estudiante</span>
                    <form #EstudianteForm="ngForm" (ngSubmit)="addEstudiante(EstudianteForm)">
                        <div class="row">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="EstudianteService.selectedEstudiante._id">
                            <div class="input-field col s12">
                                <label>Nombre</label>
                                <input type="text" [(ngModel)]="EstudianteService.selectedEstudiante.nombre" name = "nombre" required>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Agregar</button>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let Estudiante of EstudianteService.estudiantes">
                        <td>{{ Estudiante.nombre}}</td>
                        <td>
                            <a (click)="editEstudiante(Estudiante)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteEstudiante(Estudiante)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>   
</div>

