<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Materia</span>
                    <form #MateriaForm="ngForm" (ngSubmit)="addMateria(MateriaForm)">
                        <div class="row">
                            <input type="hidden" name="_id" #_id="ngModel"
                                [(ngModel)]="MateriaService.selectedMateria._id">
                            <div class="input-field col s12">
                                <label>Nombre</label>
                                <input type="text" [(ngModel)]="MateriaService.selectedMateria.nombre" name="nombre"
                                    required>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let Materia of MateriaService.materias">
                        <td>{{ Materia.nombre}}</td>
                        <td>
                            <a (click)="editMateria(Materia)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteMateria(Materia)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="isNotNull()">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Agregar una nota</span>
                    <form #MateriaForm="ngForm" (ngSubmit)="addNota()">
                        <div class="row">
                            <p>Selecciona un Estudiante</p>
                            <select name="estudiante_id" #tipo="ngModel" [(ngModel)]="notaForm.estudiante_id"
                                materialize="material_select" style="display: inherit;">
                                <option value="" disabled selected>Estudiante</option>
                                <option *ngFor="let Estudiante of EstudianteService.estudiantes; let i = index"
                                    value="{{Estudiante._id}}">{{Estudiante.nombre}}</option>
                            </select>
                            <div class="input-field col s12">
                                <label>Nota</label>
                                <input type="text" [(ngModel)]="notaForm.nota" name="nota" required>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Estudiante</th>
                    <th>Nota</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of EstudianteService.estudiantes">
                        <ng-template [ngIf]="checkMateria(estudiante)">
                            <td>{{ estudiante.nombre }}</td>
                            <td>{{ promedioEstudiante(estudiante) }}</td>
                            <td>
                                <a (click)="delNota(nota)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </ng-template>
                    </tr>
                    <tr class="highlight">
                        <ng-template [ngIf]="notas.length>0">
                            <td>PROMEDIO</td>
                            <td>{{ promedio() }}</td>
                            <td>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>