<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo">EJERCICIO MEAN</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down"> 
      <li><a routerLink="/Estudiantes">Estudiante</a></li>
      <li><a routerLink="/Materias">Materia</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
